{% extends 'base.html' %}
{% block body %}
    <div class="row bg-dark">

			<!-- what's new, discount, trending -->
			<div id="carousel_slide" class="carousel slide container-fluid text-center" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel_slide" data-slide-to="0" class="active"></li>
					<li data-target="#carousel_slide" data-slide-to="1"></li>
					<li data-target="#carousel_slide" data-slide-to="2"></li>
				</ol>
				<div class="p-5 carousel-inner bg-success bg-gradient">
					<div class="carousel-item active">
						<h1>What's new</h1>
					</div>
					<div class="carousel-item">
						<h1>something's new</h1>
					</div>
					<div class="carousel-item">
						<h1>nothing's new</h1>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carousel_slide" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carousel_slide" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>

			<!-- all categories -->
			<div id="categories" class="container">
				<div class="row">
					<div class="col">
						<div class="p-3 border bg-light">Row column</div>
					</div>
					<div class="col">
						<div class="p-3 border bg-light">Row column</div>
					</div>
					<div class="col">
						<div class="p-3 border bg-light">Row column</div>
					</div>
					<div class="col">
						<div class="p-3 border bg-light">Row column</div>
					</div>
					<div class="col">
						<div class="p-3 border bg-light">Row column</div>
					</div>
					<div class="col">
						<div class="p-3 border bg-light">Row column</div>
					</div>
					<div class="col">
						<div class="p-3 border bg-light">Row column</div>
					</div>
					<div class="col">
						<div class="p-3 border bg-light">Row column</div>
					</div>
					<div class="col">
						<div class="p-3 border bg-light">Row column</div>
					</div>
					<div class="col">
						<div class="p-3 border bg-light">Row column</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
