{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Website</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

	</head>
	<body>
		<nav>
			<div class="row nav ">
				<div class="col-sm-2 d-block d-flex  justify-content-center align-items-center">
					<a class="d-flex justify-content-center " href="#">
						<img src="{% static 'images\Emped-Books-Logo.png' %}" class="img-fluidS" width='100px' height='100px' style="max-width:50% max-height:50%">
					</a>
				</div>
				<div class="col-sm-7">
					<div class="row pt-3 pb-1 px-2">
						<div class="input-group d-flex justify-content-center">
							<div class="input-group-prepend">
								<button class="btn btn-outline-secondary rounded-left dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ALL</button>
							</div>
							<input type="text" class="form-control rounded-0" placeholder="search">
							<div class="input-group-append">
								<button id="search" type="button" class="btn btn-success ">
									<i class="bi bi-search"></i>
									Search
								</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="navbar">
							<a href="#" class="nav-item px-4 text-decoration-none">Education</a>
							<a href="#" class="nav-item px-4 text-decoration-none">Short stories</a>
							<a href="#" class="nav-item px-4 text-decoration-none">Novels</a>
							<a href="#" class="nav-item px-4 text-decoration-none">Fiction</a>
							<a href="#" class="nav-item px-4 text-decoration-none">Stationary</a>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="row pt-3 pb-1 pr-5 navbar">
						<a href="#" class="nav-item px-2 text-decoration-none">Login/Sign Up</a>
						<a href="#" class="nav-item px-2 text-decoration-none">Wish List</a>
						<a href="#" class="nav-item px-2 text-decoration-none"><i class="bi bi-cart4" style="font-size: 1.5rem;"></i></a>
					</div>
					<div class="row justify-content-center">
						<div class="navbar ">
							<a href="#" class="nav-item px-2"><i class="bi bi-facebook " style="font-size: 1.2rem;"></i></a>
							<a href="#" class="nav-item px-2"><i class="bi bi-twitter" style="font-size: 1.2rem;"></i></a>
							<a href="#" class="nav-item px-2"><i class="bi bi-linkedin" style="font-size: 1.2rem;"></i></a>
							<a href="#" class="nav-item px-2"><i class="bi bi-whatsapp" style="font-size: 1.2rem;"></i></a>
							<a href="#" class="nav-item px-2"><i class="bi bi-telegram" style="font-size: 1.2rem;"></i></a>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<footer style="background-color:orange;">
		Hi
		</footer>
	</body>
</html>
